<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Lexical Analyzer</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'analyzer/icon.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'analyzer/style.css'%}">
</head>
<body>
    <div class="sidebutton">
 
        <a href="https://github.com/pauloabraao/lex_analyzer" target="_blank">
            <img src="{% static 'analyzer/github.png'%}">
        </a> 

    </div>
    <div class="container">
        <h1>Analisador Léxico</h1>

        <div class="instructions-container">
            <button id="toggle-instructions">Mostrar Instruções</button>
            <div id="instructions" style="display: none;">
                <p>
                    Instruções: Selecione um arquivo ou insira uma expressão abaixo.
            
                    Variáveis: As variáveis são representadas por palavras ou números. Não são permitidos símbolos especiais nos nomes das variáveis, e o limite máximo para o comprimento de uma variável é de 100 caracteres.
            
                    Operadores lógicos:
                    <ul>
                        <li>() - Parênteses podem ser usados para definir a precedência das operações.</li>
                        <li>+ - Representa a operação "ou".</li>
                        <li>* - Representa a operação "e".</li>
                        <li>True - Representa "verdadeiro".</li>
                        <li>False - Representa "falso".</li>
                        <li>-> - Representa a operação "implica".</li>
                        <li>&lt;-> - Representa a operação "se e só se".</li>
                        <li> ¬ - Representa a operação "não".</li>
                    </ul>
            
                    Comentários: Comentários são inseridos após \\ e são ignorados pelo analisador. Eles podem ser usados para adicionar notas ou explicações às expressões.
                </p>
            </div>
        </div>
        
        <div class="input-result">
            
            <div class="input_div">
               
    
                <form method="post" action="{% url 'result' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="select-div">
                        <a class="select-file">
                        
                            <label for="file">Selecionar Arquivo</label>
                            <input type="file" id="file" name="file" accept=".in">
                        
                        </a>
                        <span id="file-name"></span>
                    </div>

                    <span>ou</span>
                    
                    <div class="input-container">
                        <textarea placeholder="Inserir expressão" id="manual-expression" name="manual_expression"></textarea>
                    </div>
        
                    <button id="analyze-button" type="submit">Analisar</button>
                </form>

            </div>
            
            
            <div class="analysis-container">
            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>

            {% else %}
                {% if expression %}
                    <h3>Expressão Analisada:</h3>
                    <p>{{ expression }}</p>
                {% endif %}
            
                {% if tokens %}
                    <h3>Tabela de Tokens:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Lexeme</th>
                                <th>Token</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for token in tokens %}
                                <tr>
                                    <td>{{ token.1 }}</td>
                                    <td>{{ token.0 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
            </div>
            
        </div>
        
        <script>
            document.getElementById('file').addEventListener('change', function() {
                const fileInput = document.getElementById('file');
                const fileNameDisplay = document.getElementById('file-name');
                
                if (fileInput.files.length > 0) {
                    // Exibe o nome do arquivo selecionado no elemento span
                    fileNameDisplay.textContent = fileInput.files[0].name;
                } else {
                    // Limpa o conteúdo se nenhum arquivo estiver selecionado
                    fileNameDisplay.textContent = '';
                }
            });


            document.getElementById('file').addEventListener('change', function() {
                const fileInput = document.getElementById('file');
                const fileNameDisplay = document.getElementById('file-name');
                
                if (fileInput.files.length > 0) {
                    fileNameDisplay.textContent = fileInput.files[0].name;
                } else {
                    fileNameDisplay.textContent = '';
                }
            });

            const toggleButton = document.getElementById('toggle-instructions');
            const instructionsDiv = document.getElementById('instructions');

            toggleButton.addEventListener('click', function() {
                if (instructionsDiv.style.display === 'none') {
                    instructionsDiv.style.display = 'block';
                    toggleButton.textContent = 'Ocultar Instruções';
                } else {
                    instructionsDiv.style.display = 'none';
                    toggleButton.textContent = 'Mostrar Instruções';
                }
            });

            const textarea = document.querySelector("textarea");
            textarea.addEventListener("keyup", e => {
                textarea.style.height = "35px";
                let scHeight = e.target.scrollHeight;
                textarea.style.height = `${scHeight}px`
            })
        </script>
        
</body>
</html>
